/*
!.*
.Xauthority
.adobe/
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_profile
.config/
.dbus/
.dmenu_cache
.esd_auth
.fontconfig/
.fonts.conf
.gconf/
.gconfd/
.gftp/
.gsopcast/
.gtk-bookmarks
.gtkevemon/
.gtkpod/
.gtkrc-2.0
.htoprc
.icons/
.irssi/
.lesshst
.lircrc
.local/
.lyrics/
.macromedia/
.moc/
.mozilla/
.mpdscribble/
.mplayer/
.ncmpcpp/
.purple/
.pylint.d/
.recently-used.xbel
.session/
.snes9x/
.ssh/
.synergy.conf
.themes/
.thumbnails/
.vim/
.viminfo
.vimperator/
.vimrc.bak
.weechat/
.wicd/
.xine/
.xmonad/
.xsession-errors
