!.*
.Xauthority
.adobe/
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_profile
.dbus/
.dmenu_cache
.esd_auth
.fontconfig/
.fonts.conf
.gconf/
.gconfd/
.gftp/
.gsopcast/
.gtk-bookmarks
.gtkevemon/
.gtkpod/
.gtkrc-2.0
.htoprc
.icons/
.irssi/
.lesshst
.lircrc
.local/
.lyrics/
.macromedia/
.moc/
.mozilla/
.mpdscribble/
.mplayer/
.ncmpcpp/
.purple/
.pylint.d/
.recently-used.xbel
.session/
.snes9x/
.ssh/
.synergy.conf
.themes/
.thumbnails/
.vim/
.viminfo
.vimperator/
.vimrc.bak
.weechat/
.wicd/
.xine/
.xmonad/
.xsession-errors
Dropbox/
EVE/
Legend of Zelda, The - Ocarina of Time (E) (M3) (V1.0) [!].st0
School/
Various Artists - 2006 - Black Unicorn.torrent
VirtualBox/
backgrounds/
builds/
documents/
downloads/
music
pacgraph.png
pacgraph.svg
pictures/
podcasts/
untagged music/
.conkyrc
.config/*
